<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='uploads/campasConnect.ico') }}">

    <title>CampusConnect - Dashboard</title>
</head>

<body>
    <header>
        <h1>CampusConnect</h1>
    </header>
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('courses') }}">Courses</a></li>
                {% if 'student' in session['username'] %}
                <!-- Add Student button is conditionally hidden for students -->
                {% else %}
                <li><a href="{{ url_for('add_student') }}">Add Student</a></li>
                {% endif %}

                {% if 'student' in session['username'] %}
                <!-- Add Student button is conditionally hidden for students -->
                {% else %}
                <li><a href="{{ url_for('student') }}">Student</a></li>
                {% endif %}
                <li><a href="{{ url_for('teacher') }}">Teacher</a></li>

                {% if 'admin' in session['username'] or 'student' in session['username'] %}
                <li><a href="{{ url_for('sheet_info') }}">Sheets</a></li>
                
                {% else %}
                <li><a href="{{ url_for('attendance') }}">Attendance</a></li>
                {% endif %}


                {% if 'admin' in session['username'] or 'student' in session['username']%}

                {% else %}
                <li><a href="{{ url_for('exam_marks') }}">Exam Marks</a></li>
                {% endif %}

                {% if 'admin' in session['username'] %}
                <li><a href="{{ url_for('user_list') }}">User List</a></li>
                {% else %}
                
                {% endif %}
                <li class="logout"><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
        </div>
        <div class="main">
            <div class="row">
                <button onclick="goToDashboard()" class="dashboard">Dashboard</button>
                <button onclick="goToCourses()" class="courses">Courses</button>
                {% if 'student' in session['username'] %}
                
                {% else %}
                <button onclick="goToStudent()" class="student">Student</button>
                {% endif %}
            </div>
            <div class="row">
                <button onclick="goToTeacher()" class="teacher">Teacher</button>

                {% if 'admin' in session['username'] or 'student' in session['username']%}

                {% else %}
                <button onclick="goToAttendance()" class="attendance">Attendance</button>
                {% endif %}

                {% if 'admin' in session['username'] or 'student' in session['username']%}

                {% else %}
                <button onclick="goToExamMarks()" class="exam-marks">Exam Marks</button>
                {% endif %}
                
            </div>
            <!-- Add your dashboard content here -->
            <html>

            <head>
                <title>Dashboard</title>
            </head>

            </html>
        </div>
    </div>

</body>

</html>